/*   Website created by Maryna Shut 2023  */

        /* color palette */
/* background-violet: RGB(26,28,37); */
/* cyberpunk blue RGB(0,240,255) */
/* yellow - 235, 187,25 */
/* for the background 14,10,7 */
/* blue - rgb(62,166,166) or 71,186,156*/
/* yellow - rgb(250,222,96); */
/* corall_1 - rgb(253,183,183) */
/* corall_2 - rgb(253,75,75) */
/* rasp - rgb(173,52,52) */
/* gray - rgb(126,116,116) */
/* white - 247, 246, 272 */


/*  Fonts */

@import URL("https://fonts.google.com/specimen/Bebas+Neue");
@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");
@import url("https://fonts.google.com/specimen/Stick+No+Bills");



.menu{

  color: white;
  margin-top: 2%;
  margin-left: 3%;
  width: auto;
  height: 40%;
}


/* social links on top right */

.socials{
  margin: 0 10%;
  position: relative;
  text-align: center;
  display: inline-block;

}

.social{
  margin-top: -2%;
  width:auto;
  margin-left: 85%;
  /* position: fixed; */
}



h1{
  margin: 0;
  color: white;
}
h3{
  margin-top: 20;
  color:rgb(250,222,96);

}

hr{
  background-color: rgb(250,222,96);
}

body{
 margin: 0;
 width: 100%;
 min-height: 100%;
 margin: 0%;
 padding: 0%;
 overflow-x: hidden;
 background-image: linear-gradient(to right, RGB(51,44,60), RGB(58,45,63), RGB(80,56,70));
 background-color: RGB(51,44,60);
}



/*  vertical yellow line on the left */
.vl{

  margin-right: 1%;
  margin-left: 5.5%;
  border-left: 1px solid rgb(250,222,96);
  height: 80%;
  margin-top: 5%;
  position: absolute;
}


/* Skills panel on the left */
@media (min-width: 901px){
 .skills{
          position:absolute;
          color: white;
          font-family: Bebas Neue;
          margin-left: 7%;
          margin-top: 5%;
          font-size: 1.3vw;
          height:80%;
          margin-bottom: 10%;      
 }
}



@media (max-width: 900px){
 .skills{
          position:absolute;
          color: white;
          font-family: Bebas Neue;
          margin-left: 6%;
          margin-top: 15%;
          font-size: 3vw;    
 }
}



.cv{
  width: 100%;
  height: 5%;
  margin-left: -24%;
  margin-top: 5%;      
  position: absolute;

}

 a.cv_link{
   color:white;
   background:none;
   border:none;
   margin:0%;
   padding:0%;
   cursor: pointer;
}


/* background behind name and photo */
@media (min-width: 901px){
 .card{
          position: fixed;
          margin-left: 30%;
          margin-top: 10%;
          height: 23%;
          width: 45%;
          -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 4px 4px 5px 3px rgba(15, 15, 20, 0.2);
          padding: 10%;

 }
}


@media (max-width: 900px){
 .card{
          position: fixed;
          margin-left: 30%;
          margin-top: 20%;
          height: 18%;
          width: 45%;
          -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 4px 4px 5px 3px rgba(15, 15, 20, 0.2);
          padding: 8%;

 }
}        
        
        
        

/* My name and profession in the center */

@media screen and (min-width: 601px){
.name{
  text-align: center;
  position: fixed;
  margin-left: 0.5%;
  margin-top: 2%;
  display: inline-block;
  font-family: Bebas Neue;     
}

.name h1{
 font-size: 3.7vw;
}

.name h3{
 font-size: 2.2vw;
  }
}


@media screen and (max-width: 600px) {
.name{
  text-align: center;
  position: fixed;
  margin-right: 1%;
  margin-top: 2%;
  display: inline-block;
  font-family: Bebas Neue;     
}

.name h1{
 font-size: 3.8vw;
}

.name h3{
 font-size: 2.4vw;
 }
}




/* My photo on the right */
.photo_main{
  position: fixed;
  width: 27%;
  margin-left: 26%;
  margin-top: -6%;
  display: inline-block;
}

/* button in the menu */

:root {
  --yellow-color: rgb(250,222,96);
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
}


.btn {
  width: 15%;
  height: 32px;
  margin: -1px;
  background-color: var(--black-color);
  background-color: var(--yellow-color);
  /* margin: -2px; */
  border: 1px;
  outline: none;
  cursor: pointer;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: 1.1vw;
  text-transform: uppercase;
  /* color: var(--black-color); */
  clip-path: polygon(0% 0, 90% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 900px) {
  .btn {
  width: 15%;
  height: 32px;
  margin: -1px;
  background-color: var(--black-color);
  background-color: var(--yellow-color);
  /* margin: -2px; */
  border: 1px;
  outline: none;
  cursor: pointer;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  /* color: var(--black-color); */
  clip-path: polygon(0% 0, 90% 0, 100% 100%, 0% 100%);
 }
}

a{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  /* background-color: var(--yellow-color); */
  /* clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0); */

}



a:hover{
  color: rgb(62,166,166);
}

.btn:hover{
  background-color: RGB(51,44,60);
}


.socials img:nth-child(2) {
  display: none;
}

.socials:hover img:nth-child(1) {
  display: none;
}


.socials:hover img:nth-child(2) {
  display: block;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }



/* ---------- Portfolio section --------- */

/* ---------- Portfolio section --------- */

/* left buttons whole section wrapper */
.edu-bar{

  position:absolute;
  color: white;
  font-family: Bebas Neue;
  margin-left: 6.5%;
  margin-top: 17%;
  height:80%;
  width: 200px;


}

/* the buttons inside of the wrapper */

.edu-section{

  font-family: Tomorrow, sans-serif;
  width: 80%;
  background:rgb(250,222,96);  /*#CC6666  #DE9D9D*/  /* #B27E7E */
  border-radius:2px;
  border-color: black;
  border:0;
  cursor:pointer;
  color:white;
  font-size:100%;
  padding-top:3%;
  padding-bottom:3%;
  margin-top:-4px;
  font-weight:400;
clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 100%, 0 0);
}


/* hover on links on the left*/

.edu-section a{

  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: inherit;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;

}

.edu-section a:hover{
  color: rgb(62,166,166);
}

.edu-section :hover{
  background-color: RGB(58,45,63);

}


.edu-section-on{

  font-family: Tomorrow, sans-serif;
  width: 80%;
  background:rgb(58,45,63);  /*#CC6666  #DE9D9D*/  /* rgb(58,45,63) */
  border-radius:2px;
  border-color: black;
  border:0;
  cursor:pointer;
  color:white;
  font-size:100%;
  padding-top:3%;
  padding-bottom:3%;
  margin-top:-4px;
  font-weight:400;
  box-shadow: inset 0 0 10px rgba(15, 15, 20, 0.2);
  padding: 5%;
  clip-path: polygon(92% 0, 100% 55%, 100% 100%, 8% 100%, 0% 100%, 0 0);

}

.edu-section-on a{

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: inherit;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;

}


/* hover on buttons on the left*/
.edu-section:hover{
  background-color: RGB(51,44,60);
}


/* portfolio box*/
.portfolio-area{

  position: fixed;
  margin-left: 32%;
  margin-top: 12%;
  height: 35%;
  width: 50%;
  box-shadow: inset 0 0 10px rgba(15, 15, 20, 0.2);
  padding: 5%;
  overflow: scroll;
}


/* scrollbar*/
::-webkit-scrollbar {
width: 8px;
height: 8px;
}


/* scrollbar*/
::-webkit-scrollbar-thumb {
background: rgb(250,222,96);
}

::-webkit-scrollbar-thumb:hover {
background: rgb(246,190,0);
}

/* the tine white square under the scrollbar */
::-webkit-scrollbar-corner {
  background: transparent;
}

.portfolio-item{

 width: 100%;
 height: 350px;
 border-radius:12px;
 border-color: black;
 border:1;

}

/*   image of a project  */
.portfolio-image{

 width: 40%;
 height: 60%;
  float:left;
  box-shadow: inset 0 0 1px rgb(250,222,96);
  padding: 1%;
  overflow: scroll;
  margin-right: 6%;
  cursor: pointer;

}


/*   description of a project  */
.portfolio-description{
  font-size: 95%;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: #FFEBB7;
    line-height: 1.5em;
}

.pr-name{

   margin-bottom: 5%;
   margin-top: 2%;
   font-size: 150%;
   font-family: Tomorrow, sans-serif;
   font-weight: 100;
}

.port-line{
  margin-top: -5%;
  margin-bottom: 6%;
  height: 1px;
  background-color: black;
  border: none;
}


.project-link{

  width: 20%;
  height: 1%;
  position:inherit;
  float: right;
  margin-bottom: 2%;
  box-shadow: inset 0 0 1px rgb(250,222,96);
  padding: 1%;

}



/* ----------- end of portfolio section -------  */



/*   Contact form  */


.contact-sidebar{
  position:absolute;
  color: white;
  font-family: Bebas Neue;
  margin-left: 6.5%;
  margin-top: 20%;
  width: 20%;
  font-size: 1.125rem;
  height:20%;
  display: inline-block;
}

.contact-icon{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 8%;      
}

.contact{
  position: fixed;
  margin-left: 30%;
  margin-top: 10%;
  height: 38%;
  width: 50%;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  box-shadow: 4px 4px 5px 3px rgba(15, 15, 20, 0.2);
  padding: 5%;

}

.contact-form {
  color:white;
  font-family: Bebas Neue;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 2%;
  margin-bottom: 1%;
  height: 98%;      
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.contact-form:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: Tomorrow, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:400;
}
[type="submit"]:hover { background:#CC4949; }




/*  end of  Contact form  */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  float:center;
  z-index: 1; /* Sit on top */
  padding: 7%; /* Location of the box */
  right: 8%;
  top: 12;
  width: 60%; /* Full width */
  height: 60%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 20%;
  max-width: 100px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(0.8)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}



/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


footer{
  font-family: Stick No Bills sans-serif;
  color:rgb(0,116,116);
  font-size: 75%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 90%;
  width: 96%;
  position: fixed;
  bottom: 0;
}
